@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body {
  color: #999999;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-align: center; }

h1 {
  font-size: 120px;
  line-height: 0; }

h2 {
  color: #2d3950;
  font-size: 41px; }

h3 {
  color: #2d3950;
  font-size: 22px; }

p {
  font-size: 15px; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px; }

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px; }

#logo .wrap {
  display: flex;
  align-items: center; }
#logo a {
  text-decoration: none;
  display: flex;
  align-items: center; }
#logo p {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #2d3950;
  margin: 15px; }

header {
  background: url("../img/bg.png");
  background-size: 100% 100%;
  color: white; }
  header .wrap {
    padding: 180px 15px 90px; }
  header hr {
    width: 600px;
    color: #15a4fa;
    border: 1px solid #15a4fa; }
  header input {
    font-size: 18px;
    padding: 0;
    background: none;
    height: 58px;
    width: 177px;
    border: 1px solid #15a4fa;
    border-radius: 3px;
    color: white;
    transition: ease .1s;
    cursor: pointer; }
    header input:hover {
      background: #15a4fa;
      padding: 0;
      font-size: 20px; }
  header p {
    font-size: 20px; }
  header a {
    display: block;
    margin: 226px auto 0; }

#topic {
  background: #f6f9f9; }
  #topic .wrap {
    padding: 40px 15px; }
  #topic p {
    font-size: 20px; }

#descriptions .wrap {
  padding: 60px 15px; }
#descriptions p {
  font-size: 15px; }
#descriptions .wrap {
  display: flex;
  justify-content: space-between; }
  #descriptions .wrap div {
    width: 30%; }

#showCase {
  background: #f6f9f9;
  display: block;
  position: relative; }
  #showCase .wrap {
    padding: 40px 15px 70px; }
  #showCase .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto; }
    #showCase .flex > div {
      position: relative;
      margin: 10px;
      width: 360px; }
      #showCase .flex > div > div {
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(43, 172, 250, 0.9);
        transition: opacity .5s; }
        #showCase .flex > div > div:hover {
          opacity: .8; }
        #showCase .flex > div > div .prevZoom, #showCase .flex > div > div .prevLink {
          border: none;
          margin: 5px;
          height: 42px;
          width: 42px;
          opacity: 1;
          cursor: pointer; }
        #showCase .flex > div > div .prevZoom {
          background: #15a4fa url("../img/zoom.png") no-repeat; }
        #showCase .flex > div > div .prevLink {
          background: #15a4fa url("../img/link.png") no-repeat; }

#popup {
  background: rgba(255, 255, 255, 0.9);
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  #popup .wrap {
    padding: 190px 15px 110px; }
    #popup .wrap .container {
      position: relative;
      border: 3px solid #999999;
      border-radius: 2px;
      height: 550px;
      background: url("../img/img1.png") no-repeat center;
      background-size: 100% auto; }
      #popup .wrap .container button {
        position: absolute;
        top: -21px;
        right: 20px;
        height: 40px;
        width: 40px;
        background: url("../img/cross.png");
        border: none;
        cursor: pointer; }
        #popup .wrap .container button:hover {
          background: url("../img/crossh.png"); }

#stayWithUs {
  color: white;
  background: url("../img/bg2.png");
  background-size: 100% 100%; }
  #stayWithUs .wrap {
    padding-top: 10px;
    padding-bottom: 100px; }
  #stayWithUs h2 {
    color: white; }
  #stayWithUs p {
    color: #999999; }
  #stayWithUs form {
    display: flex;
    flex-flow: column wrap;
    width: 555px;
    margin: 0 auto; }
    #stayWithUs form input, #stayWithUs form textarea {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 14px 10px;
      background: none;
      border: 1px solid #999999;
      border-radius: 2px;
      color: #999999;
      font-size: 15px;
      resize: none; }
    #stayWithUs form input[type="checkbox"] {
      background: #99a0a9;
      border: none;
      margin-right: 10px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
    #stayWithUs form div {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between; }
      #stayWithUs form div * {
        margin: 0;
        padding: 0; }
      #stayWithUs form div input[type="submit"] {
        height: 45px;
        width: 140px;
        border: 1px solid #15a4fa;
        border-radius: 2px;
        color: white;
        font-size: 17px;
        transition: ease .1s;
        cursor: pointer; }
        #stayWithUs form div input[type="submit"]:hover {
          background: #15a4fa; }
      #stayWithUs form div label {
        display: flex;
        align-items: center; }

footer .wrap {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 15px; }
  footer .wrap div {
    display: flex;
    flex-flow: row wrap;
    align-content: center; }
footer a {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  cursor: pointer; }
  footer a:nth-child(1) {
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    background: url("../img/pic1.png"); }
    footer a:nth-child(1):hover {
      background: url("../img/pic1h.png"); }
  footer a:nth-child(2) {
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    background: url("../img/pic2.png"); }
    footer a:nth-child(2):hover {
      background: url("../img/pic2h.png"); }
  footer a:nth-child(3) {
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    background: url("../img/pic3.png"); }
    footer a:nth-child(3):hover {
      background: url("../img/pic3h.png"); }
  footer a:nth-child(4) {
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    background: url("../img/pic4.png"); }
    footer a:nth-child(4):hover {
      background: url("../img/pic4h.png"); }

/*# sourceMappingURL=style.css.map */
